<div class=image
  style='
    width: {{containerwidth}}px;
    height: {{containerheight}}px;
    
    '>

  <div class=image-image
    style='
      background: {{x}}px {{y}}px url("{{url}}");
      transform-origin: 0 0;
      transform: rotate({{rotate}}deg) scale({{scale}});
      width: {{width}}px;
      height: {{height}}px;
      top: {{top}}px;
      position: relative;
      '></div>
</div>