<div class=polaroid>
  <div class=polaroid-image-container>
    <!-- todo: use image here -->
    <img class=polaroid-image src='{{url}}'>
    <div class=polaroid-image-overlay></div>
  </div>
  <div class=polaroid-caption-container>
    <div class=polaroid-caption>{{title}}</div>
  </div>
</div>
